name: MSBuild Release Build

on:
    push:
        tags:
            - "v*"
    workflow_dispatch:

env:
    SOLUTION_FILE_PATH: rougee.slnx
    BUILD_CONFIGURATION: Release

permissions:
    contents: write

jobs:
    build:
        runs-on: windows-latest

        steps:
            - uses: actions/checkout@v4

            - name: Add MSBuild to PATH
              uses: microsoft/setup-msbuild@v1.0.2

            - name: Restore NuGet packages
              run: nuget restore ${{ env.SOLUTION_FILE_PATH }}

            - name: Build solution
              run: msbuild /m /p:Configuration=${{ env.BUILD_CONFIGURATION }} ${{ env.SOLUTION_FILE_PATH }}

            - name: Collect .exe and .dll files
              run: |
                  mkdir output
                  Get-ChildItem -Path . -Recurse -Include *.exe,*.dll | Copy-Item -Destination output
              shell: pwsh

            - name: Create GitHub Release and upload .exe/.dll
              uses: softprops/action-gh-release@v2
              with:
                  files: output/**
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
