# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: MSBuild

on:
    push:
        tags:
            - "v*"
    workflow_dispatch:

env:
    # Path to the solution file relative to the root of the project.
    SOLUTION_FILE_PATH: .

    # Configuration type to build.
    # You can convert this to a build matrix if you need coverage of multiple configuration types.
    # https://docs.github.com/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
    BUILD_CONFIGURATION: Release

permissions:
    contents: read

jobs:
    build:
        runs-on: windows-latest
        steps:
            - name: Checkout code (with submodules)
              uses: actions/checkout@v4
              with:
                  submodules: recursive

            - name: Setup MSBuild (VS2026)
              uses: microsoft/setup-msbuild@v2
              with:
                  vs-version: "2026"

            - name: Build .slnx Solution
              run: msbuild rougee.slnx /p:Configuration=Release
